

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #87CEEB, #f0f8ff); 
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  background-color: #343a40;
  color: white;
}

.footer h5,
.footer p {
  color: white;
}

.sport-img {
  width: 100px;
  height: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
